DreamMatcher/
InfiniteYou/

compare/results/PM/
compare/results/PL/
compare/results

# all pdf files in testing
compare/testing/*.pdf
compare/testing/_old_res

PhotoMaker_backup_before_git_fix/
.git_bad_1757534238/
.git_bad_1757534580/
.git_bad_1757534783/

dataset_full/LAION-5B/
dataset_full/LAION-5B-Filtered/
dataset_full/LAION-5B-Filtered-Large/
diffusion_template-main.zip

diffusion_template/hm_debug/