### Modified to make attn_processor trainable in branched version ###
# _target_: src.pipelines.photomaker_branched2.PhotomakerBranchedPipeline.from_pretrained
_target_: src.pipelines.photomaker_branched_orig_fixed.PhotomakerBranchedPipeline.from_pretrained


pretrained_model_name_or_path: stabilityai/stable-diffusion-xl-base-1.0
# pretrained_model_name_or_path: SG161222/RealVisXL_V4.0
torch_dtype: bfloat16
use_safetensors: True
variant: fp16
photomaker_start_step: 0
merge_start_step: 0
branched_attn_start_step: 0
branched_start_mode: both
train_branch_mode: both # both # both or ref_only
# pose_adapt_ratio: 0
pose_adapt_ratio: 0.25
# ca_mixing_for_face: true
ca_mixing_for_face: false
# face_embed_strategy: id_embeds
face_embed_strategy: id # id = use original PM embeddings
# auto_mask_ref: true
# use_dynamic_mask: true
# use_bbox_mask_ref: false
# use_bbox_mask_gen: false
auto_mask_ref: false
use_dynamic_mask: false
use_bbox_mask_ref: true
use_bbox_mask_gen: true
### Modified to make attn_processor trainable in branched version ###
